<form #myForm="ngForm">
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite Subject</mat-label>
    <mat-chip-grid #chipGrid aria-label="Subject selection">
      <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
        {{fruit}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="New Subject..." name="favoriteSubject" [(ngModel)]="formData.favoriteSubject"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" required #favoriteSubjectInput="ngModel"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="favoriteSubjectInput.invalid && (favoriteSubjectInput.dirty || favoriteSubjectInput.touched)">
      Favorite subject is required
    </mat-error>
  </mat-form-field>
</form>
