.sticky-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
  padding: 10px 0;
  margin-bottom: 20px;
<<<<<<< HEAD
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
=======
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Lighter shadow color */
>>>>>>> 5f84c032689fc0f296369ccbf832a2473556ef38
  width: 100%;
}


.div1 {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.example-form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.div1 {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto; /* Center the div horizontally */
  max-width: 500px; /* Adjust the maximum width of the div as per your preference */
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements vertically */
  text-align: center; /* Center the text within the form */
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.example-full-width {
  width: 100%;
}

.bgc {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Rest of the CSS code remains the same */


label {
  font-weight: bold;
  color: #555;
}

.Sub {
  margin-top: 10px;
  margin-bottom: 20px;
}

.chip {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 4px 10px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.closebtn {
  margin-left: 6px;
  color: #888;
  font-weight: bold;
  cursor: pointer;
}

.Sub select,
.Sub button {
  margin-right: 6px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.example-full-width textarea {
  resize: vertical;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #45a049;
}

.form-group input,
.form-group select,
.form-group textarea {
  outline: none;
  border: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  color: #333;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
