<input type="text" [(ngModel)]="pincode" placeholder="Enter PIN code" />
<button (click)="searchPincode()">Search</button>

<div *ngIf="responseData" class="data-container">
  <p class="data-label">City: </p>
  <p class="data-value">{{ getCity() }}</p>
  <p class="data-label">State: </p>
  <p class="data-value">{{ responseData[0].PostOffice[0].State }}</p>
  <p class="data-label">Country: </p>
  <p class="data-value">{{ responseData[0].PostOffice[0].Country }}</p>
</div>

<div *ngIf="error">
  <h3>Error:</h3>
  <pre>{{ error | json }}</pre>
</div>
